asyncio==3.4.3
Babel==2.9.1
beautifulsoup4==4.10.0
Brotli==1.0.9
cffi==1.15.0
click==8.0.4
cssselect2==0.5.0
fonttools==4.30.0
ghp-import==2.0.2
gitdb==4.0.9
GitPython==3.1.27
html5lib==1.1
importlib-metadata==4.11.3
Jinja2==3.0.3
libsass==0.21.0
Markdown==3.3.6
MarkupSafe==2.1.1
mergedeep==1.3.4
mkdocs==1.2.3
mkdocs-git-authors-plugin==0.6.4
mkdocs-git-revision-date-localized-plugin==1.0.0
mkdocs-material==8.2.5
mkdocs-material-extensions==1.0.3
mkdocs-new-features-notifier==0.1.6
mkdocs-with-pdf==0.9.3
packaging==21.3
Pillow==9.0.1
pycparser==2.21
pydyf==0.1.2
Pygments==2.11.2
pymdown-extensions==9.2
pyparsing==3.0.7
pyphen==0.12.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
pyyaml-env-tag==0.1
six==1.16.0
smmap==5.0.0
soupsieve==2.3.1
tinycss2==1.1.1
tqdm==4.63.0
watchdog==2.1.6
weasyprint==54.2
webencodings==0.5.1
zipp==3.7.0
zopfli==0.2.1
